.FilterByGen{
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.containerGens{
    overflow: auto;
    width: 100%;
}

.containerGen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 10px;
    transition: .3s all ease-in-out;
}

.containerGen:hover{
    background-color: white;
}

.containerGen_active{
    background-color: white;
}

.gamesImages{
    /* flex: 1; */
    width: 85%;
    height: auto;
    object-fit: contain;
    transition: .3s all ease-in-out;
}

.gamesImages:hover{
    transform: scale(1.08,1.08);
}

.containerGen > button{
    width: 15px;
    height: 15px;
    color: rgb(50, 0, 189);
    background-color: white;
    border: none;
    border-radius: 50%;
}

@media(max-width:800px){

    .FilterByGen{
        width: auto;
    }

    .containerGens{
        background-color: #66b359;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100vh;
        z-index: 30;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .containerGens_active{
        transition: all 0.3s ease-in-out;
        visibility: visible;
        opacity: 1;
    }

    .containerGen{
        max-width: 50vw;
        height: 100px;
    }

    .gamesImages{
        flex: 1;
        width: 70%;
    }

    .gensButton{
        position: absolute;
        bottom: 10px;
        left: 5%;
        width: 30px;
        height: 30px;
        z-index: 40;
    }
}