@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
}

body{
  font-family: 'Kosugi Maru',sans-serif;
}

ul{
  list-style: none;
}

