.types_container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    overflow-x: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.types_container::-webkit-scrollbar{
    height: 8px;
}

.types_container > div{
    display: flex;
}

.types_container > div img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.types_container > div img:hover{
    transform: scale(1.1,1.1)
}

.active{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media(max-width: 1030px) {
    .types_container{
        width: 100%;
        flex: none;
        height: auto;
    }

    .types_container > div img{
        height: 40px;
        width: 40px;
        padding: 5px;
    }
}
