.types_container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    overflow-x: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.types_container::-webkit-scrollbar{
    height: 8px;
}

.types_container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);        /* color of the tracking area */
}

.types_container::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, 1);    /* color of the scroll thumb */
    border-radius: 5px;
}

.types_container > div{
    display: flex;
}

.types_container > div input{
    height: 50px;
    width: 50px;
    padding: 5px;
    cursor: pointer;
}

.active{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media(max-width: 1030px) {
    .types_container{
        width: 100%;
        flex: none;
        height: auto;
    }

    .types_container > div input{
        padding: 5px;
    }
}
