.Detail{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10% 0 10%;
}

.background_detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_detail p{
    font-size: 25rem;
    color: rgba(34, 34, 34, 0.13);
}

.Deatil img{
    height: 70%;
    width: auto;
}

