.Card{
    width: 200px;
    height: 250px;
    border-radius: 1rem;
    position: relative;
    transition: .3s transform ease-in-out;
    margin-top: 10px;
}

.Card:hover{
    transform: translateY(-10px);
}

.info_pokemon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
}

.info_pokemon p{
    font-weight: 700;
}

.img_background{
    box-shadow: 5px 0px 5px rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
    z-index: -1;
    border-radius: 1rem;
}

.img{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 1rem;
}

.Link{
    color: rgb(47, 47, 47);
    top: -15px;
    padding: 0 10px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
    transition: .3s all ease-in-out;
    text-decoration: none;
}

.modifiedTitle{
    font-size: 1rem;
}

.name:hover{
    color: #395BA8;
}

.types_pokemon{
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 11;
    width: 100%;
}

.types_pokemon1, .types_pokemon2{
    margin-top: 5px;
    display: flex;
    width: 25px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types_pokemon1, .types_pokemon2{
    color: rgb(96, 96, 96);
    font-weight: 400;
}

.id{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 15;
    right: -25px;
    top: -135px;
    color: rgb(58, 58, 58);
    box-shadow: 5px 0px 5px rgb(0, 0, 0);
}