.Cards{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    overflow-y: auto;
    width: 100%;
    flex: 1;
}


.container_cards{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.numberPage_container{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 20;
}

.numberPage_container p{
    display: inline;
}

.button_page{
    height: 2rem;
    border-radius: 8px;
    color: white;
    border: none;
    width: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.button_page:hover{
    background-color: rgba(49, 49, 49, 0.552)
}

.active{
    border: 2px solid white;
}

.Cards::-webkit-scrollbar{
    width: 15px;
}

.Cards::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);        /* color of the tracking area */
  }

.Cards::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.65);    /* color of the scroll thumb */
    border-radius: 5px;
}

@media(max-width: 800px) {
    .Cards{
        height: 85%;
    }
}
